/* You can add global styles to this file, and also import other style files */
body,
html {
  height: 100%;
  background-color: #363636;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.wrapper {
  height: calc(100% - 48px);
}

.statistic {
  height: 32px;
}

.footer {
  height: 48px;
  border-top: solid;
  border-width: 2px;
  border-color: #3e424b;
  line-height: 48px;
  color: #d9dddc;
}

.menu-icon {
  font-size: 32px;
  font-weight: bold;
  float: right;
  margin-right: 5px;
  cursor: pointer;
}

.menu-icon:hover {
  color: rgb(171, 172, 171);
  font-weight: bolder;
}

.footer-data {
  display: inline-block;
  margin-left: 5px;
  font-weight: bold;
}

.content {
  width: 100%;
  height: 100%;
}

/* The side navigation menu */
.sidenav {
  height: 75%; /* 100% Full-height */
  width: 100%; /* 0 width - change this with JavaScript */
  position: absolute; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 100%; /* Stay at the top */
  left: 0;
  background-color: rgba(17, 17, 17, 0.493); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  .content {
    padding: 5px;
  }
  overflow: hidden;
}

.sidenav-opened{
  top:25%;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav label {
  font-size: 16px;
  line-height: 28px;
  color: #d9dddc;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
