<div class="content">
  <div class="wrapper">
    <app-canvas></app-canvas>
  </div>
  <div class="footer">
    <span class="footer-data">Generation : {{generation}}</span>
    <span class="menu-icon" (click)="openMenu()">☰</span>
  </div>
  <div [class.sidenav-opened]="isMenuOpened" id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" (click)="closeMenu()">&times;</a>
    <div class="content">
      <label>Size</label>
      <mat-slider (change)="onSizeChanged($event)" style="width: 100%;" min="1" max="20" step="1" value="5">
      </mat-slider>
      <label>Speed</label>
      <mat-slider style="width: 100%;" min="1" max="5" step="1" value="2" (change)="onSpeedChanged($event)">
      </mat-slider>
      <label>Seed</label>
      <mat-slider (change)="onSeedChanged($event)" style="width: 100%;" min="1" max="10000000" step="1" value="5">
      </mat-slider>
      <div style="margin: 0 auto;">
        <button mat-stroked-button color="accent" (click)="startGame($event)">Start</button>
      </div>
    </div>
  </div>
</div>